.title2 {
  margin: 0;
  mix-blend-mode: difference;
  max-width: 200px;
}

.box {
  position: relative;
  width: 5rem;
  aspect-ratio: 994 / 981;
  opacity: .5;
}

.shard {
  position: absolute;
  display: block;
}

.blue {
  fill: rgb(14,121,168);
  fill-rule: nonzero;
}

.green {
  fill:#0e6847;
  fill-rule:nonzero;
}

.purple {
  fill: #af00af;
  fill-rule: nonzero;
}

.yellow {
  fill: #a38d0f;
  fill-rule: nonzero;
}

.purplePlate {
  fill: #d1499a;
  opacity: .8;
}

.greenPlate {
  fill: #008e5d;
  opacity: .8;
}

.bluePlate {
  fill: #22b0d1;
  opacity: .8;
}

.yellowPlate {
  fill: #ffc93f;
  opacity: .8;
}
