.main {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  max-height: -webkit-fill-available;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.stick {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.segment {
  scroll-snap-align: end;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  bottom: 0;
  padding: max(env(safe-area-inset-top), 1rem) max(env(safe-area-inset-right), 1rem) max(env(safe-area-inset-bottom), 1rem) max(env(safe-area-inset-left), 1rem);
  width: 100%;
  height: 100%;
  mix-blend-mode: difference;
}

.padder {
  scroll-snap-align: end;
  padding-top: calc(100vh - 260px);
}

.footer {
  position: relative;
  height: 200%;
}

.title {
  position: -webkit-sticky;
  position: sticky;
  top: 1rem;
  left: max(max(env(safe-area-inset-left)), 1rem);
  mix-blend-mode: difference;
  max-width: 200px;
}

.logo {
  max-width: 100%;
  height: auto;
}


.paragraph {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
}

.link {
  display: inline-flex;
  align-items: flex-end;
  mix-blend-mode: difference;
  color: var(--text-color);
  height: 3rem;
  padding-right: 1rem;
  background-color: rgba(255, 185, 21, 0);
  outline: solid 1px rgba(255,255,255,0);
  transition-property: color, outline-color, background-color;
  transition-duration: .9s, .5s, 1.3s;
  transition-timing-function: ease-in-out;
  &:focus,
  &:hover {
    color: var(--highlight-color);
    outline-color: rgba(255,255,255,1);
    background-color: rgba(255,255,255,.2);
    transition-duration: .1s, .1s, .1s;
  }
}


.list {
  @extend .paragraph;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.listItem {
  padding: 0;
  margin: 0;
  margin-right: 1rem;
  &:last-child {
    margin-right: 0;
  }
}

.listLink {
  @extend .link;
  fill: var(--text-color);
  aspect-ratio: 1 / 1;
  width: 5rem;
  height: auto;
  &:focus,
  &:hover {
    fill: var(--highlight-color);
  }
}

.navItem {
  @extend .link;
  height: 2.75rem;
  align-items: center;
  padding: 0 0.5rem;
  text-decoration: none;
  &:focus,
  &:hover {
    background-color: transparent;
  }
}

.navCurrent {
  color: var(--highlight-color);
}
